In [18]:
import pandas as pd

In [19]:
data = pd.read_csv('C:/Users/user/Desktop/names.csv',encoding='unicode_escape',header=None)

In [20]:
data.head()

             0   1   2
0     1. Liam  NaN NaN
1     2. Noah  NaN NaN
2  3. William  NaN NaN
3    4. James  NaN NaN
4   5. Oliver  NaN NaN

In [21]:
for i in range(len(data)):
    if i < 526:
        data[1][i] = 'M'
    else:
        data[1][i] = 'F'
print(data.head())
print(data.tail())

             0  1   2
0     1. Liam   M NaN
1     2. Noah   M NaN
2  3. William   M NaN
3    4. James   M NaN
4   5. Oliver   M NaN
            0  1   2
1001  Alessia  F NaN
1002    Ariya  F NaN
1003      Eve  F NaN
1004   Inaaya  F NaN
1005      Sky  F NaN

C:\Users\user\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
C:\Users\user\Anaconda3\lib\site-packages\pandas\core\indexing.py:205: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_with_indexer(indexer, value)
C:\Users\user\Anaconda3\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """

In [22]:
b = []
for i,nm in enumerate(data[0]):
    if i < 525:
        w = nm[3:]
        if i > 8:
            w = nm[4:]
        if i > 98:
            w = nm[5:]
        b.append(w)
b[:50]

['Liam\xa0',
 'Noah\xa0',
 'William\xa0',
 'James\xa0',
 'Oliver\xa0',
 'Benjamin\xa0',
 'Elijah\xa0',
 'Lucas\xa0',
 'Mason\xa0',
 'Logan\xa0',
 'Alexander\xa0',
 'Ethan\xa0',
 'Jacob\xa0',
 'Michael\xa0',
 'Daniel\xa0',
 'Henry\xa0',
 'Jackson\xa0',
 'Sebastian\xa0',
 'Aiden\xa0',
 'Matthew\xa0',
 'Samuel\xa0',
 'David\xa0',
 'Joseph\xa0',
 'Carter\xa0',
 'Owen\xa0',
 'Wyatt\xa0',
 'John\xa0',
 'Jack\xa0',
 'Luke\xa0',
 'Jayden\xa0',
 'Dylan\xa0',
 'Grayson\xa0',
 'Levi\xa0',
 'Isaac\xa0',
 'Gabriel\xa0',
 'Julian\xa0',
 'Mateo\xa0',
 'Anthony\xa0',
 'Jaxon\xa0',
 'Lincoln\xa0',
 'Joshua\xa0',
 'Christopher\xa0',
 'Andrew\xa0',
 'Theodore\xa0',
 'Caleb\xa0',
 'Ryan\xa0',
 'Asher\xa0',
 'Nathan\xa0',
 'Thomas\xa0',
 'Leo\xa0']

In [23]:
data[0][:525] = b

C:\Users\user\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [24]:
data.drop(2,axis=1,inplace=True)

In [25]:
data.head()

          0  1
0     Liam   M
1     Noah   M
2  William   M
3    James   M
4   Oliver   M

In [26]:
df = data

In [27]:
df[0][565] = 'Priya'

In [28]:
def rmst(text):
    b=[]
    for i in text:
        count=0
        w=[]
        wd = ''
        wr = ''
        ws = len(i)
        for j in i:
            j = j.lower()
            count = count + 1
            if count < 3:
                wd = wd + j
                continue
            if count > ws-3:
                wr = wr + j
                wr=wr[:2]
                continue
        w.append(wd)    
        w.append(wr)
        b.append(w)
    return b
df['text'] = rmst(df[0])

In [29]:
df.head()

          0  1      text
0     Liam   M  [li, am]
1     Noah   M  [no, ah]
2  William   M  [wi, am]
3    James   M  [ja, es]
4   Oliver   M  [ol, er]

In [30]:
dic = {'M':0,'F':1}

In [31]:
df[1] = df[1].map(dic)
df.drop(0,axis=1,inplace=True)

In [32]:
df.head()

   1      text
0  0  [li, am]
1  0  [no, ah]
2  0  [wi, am]
3  0  [ja, es]
4  0  [ol, er]

In [33]:
import re 
comment_words = ' '
for i in df['text']: 
    for words in i:
        comment_words = comment_words + words + ',' 
w = re.split(',',comment_words)
import numpy as np
w = np.array(w)

In [34]:
z = np.unique(w)
z = list(z)
print(z)

['', ' li', 'a', 'aa', 'ab', 'ac', 'ad', 'ae', 'ah', 'ai', 'ak', 'al', 'am', 'an', 'ap', 'ar', 'as', 'at', 'au', 'av', 'ax', 'ay', 'az', 'a\xa0', 'ba', 'be', 'bi', 'bl', 'bo', 'br', 'by', 'ca', 'cc', 'ce', 'ch', 'ci', 'ck', 'cl', 'co', 'cr', 'cy', 'da', 'de', 'di', 'do', 'dr', 'du', 'dy', 'e', 'ea', 'eb', 'ed', 'ek', 'el', 'em', 'en', 'eo', 'er', 'es', 'et', 'ev', 'ew', 'ex', 'ey', 'ez', 'e\xa0', 'fa', 'fe', 'fi', 'fr', 'ga', 'ge', 'gi', 'go', 'gr', 'gu', 'ha', 'he', 'hi', 'hn', 'ho', 'hr', 'hu', 'hy', 'ia', 'ib', 'ic', 'id', 'ie', 'ig', 'ik', 'il', 'im', 'in', 'io', 'ip', 'ir', 'is', 'it', 'iv', 'ix', 'iy', 'iz', 'i\xa0', 'ja', 'je', 'jh', 'jo', 'ju', 'ka', 'ke', 'kh', 'ki', 'kn', 'ko', 'ks', 'ky', 'la', 'ld', 'le', 'li', 'll', 'lm', 'ln', 'lo', 'lt', 'lu', 'ly', 'ma', 'mc', 'me', 'mi', 'mm', 'mo', 'mu', 'my', 'na', 'nc', 'nd', 'ne', 'ng', 'ni', 'nk', 'nn', 'no', 'nt', 'nu', 'nv', 'ny', 'n\xa0', 'oa', 'ob', 'oc', 'od', 'ok', 'ol', 'om', 'on', 'op', 'or', 'os', 'ot', 'ow', 'ox', 'oy', 'o\xa0', 'pa', 'pe', 'ph', 'pi', 'po', 'pp', 'pr', 'qu', 'r', 'ra', 'rd', 're', 'rh', 'ri', 'rk', 'rl', 'ro', 'rr', 'rt', 'ru', 'ry', 'sa', 'sc', 'se', 'sh', 'si', 'sk', 'sl', 'so', 'sp', 'ss', 'st', 'su', 'sy', 'ta', 'te', 'th', 'ti', 'tl', 'to', 'tr', 'tt', 'tu', 'ty', 'ua', 'ue', 'ul', 'um', 'un', 'ur', 'us', 'uz', 'va', 've', 'vi', 'w', 'wa', 'we', 'wi', 'wn', 'wy', 'xa', 'xi', 'x\xa0', 'y', 'ya', 'ye', 'yl', 'yn', 'ys', 'y\xa0', 'za', 'ze', 'zi', 'zo', 'zu', 'ë']

In [35]:
for i in range(len(z)):
    df[z[i]] = 0

In [36]:
df.head()

,1,text,,li,a,aa,ab,ac,ad,ae,...,yl,yn,ys,y,za,ze,zi,zo,zu,ë
0,0,"[li, am]",0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,"[no, ah]",0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,"[wi, am]",0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,"[ja, es]",0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,"[ol, er]",0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [37]:
import numpy as np
for i,l in enumerate(df['text']):
    for j,n in enumerate(l):
        z = df.columns == n
        z = np.where(z)[0]
        z = int(z)
        df.iloc[i,z] = j+1

In [38]:
df.head(244)

,1,text,,li,a,aa,ab,ac,ad,ae,...,yl,yn,ys,y,za,ze,zi,zo,zu,ë
0,0,"[li, am]",0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,"[no, ah]",0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,"[wi, am]",0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,"[ja, es]",0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,"[ol, er]",0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
239,0,"[om, ar]",0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
240,0,"[is, el]",0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
241,0,"[ai, an]",0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
242,0,"[th, eo]",0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
243,0,"[ja, er]",0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [39]:
df.drop('text',axis=1,inplace=True)

In [40]:
x = df.drop(1,axis=1,inplace=False)
y = df.iloc[:,0]

In [41]:
y

0       0
1       0
2       0
3       0
4       0
       ..
1001    1
1002    1
1003    1
1004    1
1005    1
Name: 1, Length: 1006, dtype: int64

In [24]:
from sklearn.model_selection import train_test_split
xtrain,xtest,ytrain,ytest = train_test_split(x,y,test_size=0.2,random_state=20)

In [193]:

from sklearn.ensemble import GradientBoostingClassifier
from sklearn.naive_bayes import MultinomialNB
gr = GradientBoostingClassifier(n_estimators=550,max_depth=20)
ml = MultinomialNB(alpha=1)
modelM = ml.fit(xtrain,ytrain)
model = gr.fit(xtrain,ytrain)
pred = model.predict(xtrain)
predM = modelM.predict(xtrain)

In [194]:
ytrain.index = range(len(ytrain))
from sklearn.metrics import precision_recall_fscore_support
from sklearn.metrics import confusion_matrix
count = 0
countM = 0
for i in range(len(ytrain)):
    if pred[i] == ytrain[i]:
        acc = count=count+1 
    if predM[i] == ytrain[i]:
        accM = countM=countM+1
acc = acc/len(ytrain)
accM = accM/len(ytrain)
prec,rec,fscore,s= precision_recall_fscore_support(ytrain,pred, average='macro')
precM,recM,fscoreM,s= precision_recall_fscore_support(ytrain,predM, average='macro')

In [195]:
print("Accuracy:{} \nPrecision Score:{} \nRecall:{} \nfscore:{}".format(acc,prec,rec,fscore))
print("Accuracy:{} \nPrecision Score:{} \nRecall:{} \nfscore:{}".format(accM,precM,recM,fscoreM))

Accuracy:0.9763681592039801
Precision Score:0.9762349882382073
Recall:0.9765447393687863
fscore:0.9763520260071985
Accuracy:0.8395522388059702
Precision Score:0.8428449316170554
Recall:0.8378945086257628
fscore:0.8385610019192244

In [196]:
predt = model.predict(xtest)
predtM = modelM.predict(xtest)
ytest.index = range(len(ytest))

from sklearn.metrics import average_precision_score
count = 0
countM = 0
for i in range(len(ytest)):
    if predt[i] == ytest[i]:
        acc = count=count+1 
    if predtM[i] == ytest[i]:
        accM = countM=countM+1
accM = accM/len(ytest)
acc = acc/len(ytest)
precM,recM,fscoreM,s= precision_recall_fscore_support(ytest,predtM,average='macro')
prec,rec,fscore,s= precision_recall_fscore_support(ytest,predt,average='macro')

In [197]:
print("Accuracy:{} \nPrecision Score:{} \nRecall:{} \nfscore:{}".format(accM,precM,recM,fscore))
print("Accuracy:{} \nPrecision Score:{} \nRecall:{} \nfscore:{}".format(acc,prec,rec,fscore))

Accuracy:0.7821782178217822
Precision Score:0.7823225675812493
Recall:0.7760617760617761
fscore:0.7468925421010424
Accuracy:0.7524752475247525
Precision Score:0.752576267727783
Recall:0.745074745074745
fscore:0.7468925421010424

In [52]:
def prediction(name):
    data = pd.read_csv('C:/Users/user/Desktop/names.csv',encoding='unicode_escape',header=None)
    for i in range(len(data)):
        if i < 526:
            data[1][i] = 'M'
        else:
            data[1][i] = 'F'
    data.drop(2,axis=1,inplace=True)
    data[0][565] = 'saravanan'
    data[1][565] = 0
    b = []
    for i,nm in enumerate(data[0]):
        if i < 525:
            w = nm[3:]
            if i > 8:
                w = nm[4:]
            if i > 98:
                w = nm[5:]
            b.append(w)
    data[0][:525] = b
    nr = {0:name,1:None}
    data = data.append(nr,ignore_index=True)
    df = data
    def rmst(text):
        b=[]
        for i in text:
            count=0
            w=[]
            wd = ''
            wr = ''
            ws = len(i)
            for j in i:
                j = j.lower()
                count = count + 1
                if count < 3:
                    wd = wd + j
                    continue
                if count > ws-3:
                    wr = wr + j
                    wr = wr[:2]
                    continue
            w.append(wd)    
            w.append(wr)
            b.append(w)
        return b
    df['text'] = rmst(df[0])
    dic = {'M':0,'F':1}
    df[1] = df[1].map(dic)
    df.drop(0,axis=1,inplace=True)
    import re 
    comment_words = ' '
    for i in df['text']: 
        for words in i:
            comment_words = comment_words + words + ',' 
    w = re.split(',',comment_words)
    import numpy as np
    w = np.array(w)
    z = np.unique(w)
    z = list(z)
    g = len(z)
    for i in range(len(z)):
        df[z[i]] = 0
    import numpy as np
    for i,l in enumerate(df['text']):
        for j,n in enumerate(l):
            z = df.columns == n
            z = np.where(z)[0]
            z = int(z)
            df.iloc[i,z] = j+1
    df.drop('text',axis=1,inplace=True)
    z = df.iloc[1006,:]
    df.drop(1006,axis=0,inplace=True)
    while len(z) > 243 :
        z.drop(z.index[0],inplace=True)
    z = np.array(z)
    z = z[0:462]
    x = df.drop(1,axis=1,inplace=False)
    df[1].fillna(1,inplace=True)
    y = df.iloc[:,0]
    j=[]
    for i in y:
        j.append(int(i))
    y = pd.Series(j)
    from sklearn.model_selection import train_test_split
    xtrain,xtest,ytrain,ytest = train_test_split(x,y,test_size=0.2,random_state=20)
    from sklearn.ensemble import GradientBoostingClassifier
    from sklearn.naive_bayes import MultinomialNB
    gr = GradientBoostingClassifier(n_estimators=550,max_depth=20)
    ml = MultinomialNB(alpha=1)
    modelM = ml.fit(xtrain,ytrain)
    model = gr.fit(xtrain,ytrain)
    pred = model.predict(xtrain)
    predM = modelM.predict(xtrain)
    predt = modelM.predict([z])
    if predt == 0:
        print('Male')
    else:
        print('Female')

In [53]:
import pandas as pd
name = 'robert '
prediction(name)

C:\Users\user\Anaconda3\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """
C:\Users\user\Anaconda3\lib\site-packages\pandas\core\indexing.py:205: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_with_indexer(indexer, value)
C:\Users\user\Anaconda3\lib\site-packages\ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys
C:\Users\user\Anaconda3\lib\site-packages\pandas\core\generic.py:3917: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._update_inplace(obj)

Male

In [103]:
z = pd.Series([1,2,4])

In [104]:
z.drop(1,inplace=True)

In [106]:
len(z)

2

In [127]:
z.index[1]

2

In [138]:
print(ml)

MultinomialNB(alpha=1.0, class_prior=None, fit_prior=True)

In [55]:
df.shape

(1006, 244)

In [61]:
ind = 1000
v = len(df)-1000
for i in range(v+1):
    ind = ind + 1
    df.drop(ind,inplace=True,axis=0)

KeyError: '[1001] not found in axis'